{
    "plugins": ["tailwindcss"],
    "extends": ["@antfu/vue", "plugin:tailwindcss/recommended"],
    "overrides": [
        {
            "files": [
                "./server/**/*.ts"
            ],
            "rules": {
                "no-console": "off",
                "no-undef": "error"
            }
        }
    ],
    "rules": {
        "curly": [
            "error",
            "all"
        ],
        "brace-style": "off",
        "@typescript-eslint/brace-style": [
            "error",
            "1tbs"
        ],
        "no-unused-vars": "error",
        "tailwindcss/no-custom-classname": "off"
    }
}
