# Required to install nuxt3 at the moment, see https://v3.nuxtjs.org/getting-started/installation#new-project (select `pnpm`)
shamefully-hoist=true

# Required for pnpm to install non strict deps, see https://github.com/antfu/vitesse/blob/main/.npmrc
strict-peer-dependencies=false
