# Required to install nuxt3 at the moment, see https://v3.nuxtjs.org/getting-started/installation#new-project (select `pnpm`)
shamefully-hoist=true
# Required to enforce the engine versions we provide in the `package.json`
engine-strict=true
