name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.14.2
        uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
      - run: npm ci
        working-directory: ./app
      - run: npm run build
        working-directory: ./app
      - run: npm run lint
        working-directory: ./app
      - run: npm run test
        working-directory: ./app
